
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@300;400&display=swap');

/* --===================== Start: Element Customization =====================--  */

/* All element */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


/* Individual Element */
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
  }

  a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .btn-info:hover{
    background-color: blue;
    border-color: transparent;
  }

  /* Classes */
  .weatherIcon{
    width: 300px;
    left: 300px;
    top: 320px;
    position: absolute;
    z-index: -1;
  }

  .imgSunrise{
    height: 120px;
    width: 130px;
  }

  .imgSunset{
    height: 130px;
    width: 150px;
  }

  .divRight{
    text-align: right;
  }

  .divLeft{
    text-align: left;
  }

  .divHourlyForecast{
    display: grid !important;
    grid-template-columns: repeat(24, 25%);
    overflow: auto;
    white-space: nowrap;
  }

  .cardSize{
    width: 95%;
  }
  /* --===================== End: Element Customization =====================--  */