
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@300;400&display=swap');

/* --===================== Start: Element Customization =====================--  */

/* All element */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


/* Individual Element */
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
  }

  a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  /* Classes */
  .weatherIcon{
    height: 260px;  
    width: 260px; 
    left: 20%;
    top: 30%; 
    position: absolute;
    z-index: -1;
  }

  .divRight{
    text-align: right;
  }

  .divLeft{
    text-align: left;
  }
  /* --===================== End: Element Customization =====================--  */